@charset "UTF-8";

// Bourbon documentation: http://bourbon.io/docs
@import "bourbon";

// Normalize by Nicolas Gallagher and Jonathan Neal: http://necolas.github.io/normalize.css/
@import "normalize";

// Garnish by Paulo Zoom: https://github.com/paulozoom/garnish
@import "garnish/garnish.scss";

// Feel free to also add your own mixins here
@import "mixins";

// Add you own variables
@import "vars";

// Add whatever grid fits you project the best
@import "grid";

// Base styles: opinionated defaults
@import "setup";

*,
*:before,
*:after {
	@include border-box;
}


// ==========================================================================
//   Add you own styles
// ==========================================================================




// ==========================================================================
//   Helper classes
// ==========================================================================
// Hide from both screenreaders and browsers
.hidden {
	display: none !important;
	visibility: hidden;
}

// Hide only visually, but have it available for screenreaders
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// Hide visually and from screenreaders, but maintain layout
.invisible {
  visibility: hidden;
}

// ==========================================================================
//   EXAMPLE Media Queries for Responsive Design.
//   These examples override the primary ('mobile first') styles.
//   Modify as content requires.
// ==========================================================================

@media only screen and (min-width: 35em) {
	
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

@import "print";
